html {
  box-sizing: border-box;
}

a, a:before, a:after {
  box-sizing: inherit;
}

#container {
  margin: 1em;
  padding: 1em;
  overflow: auto;
}

#game-board {
  background: #f1f1f1;
  border-radius: 10px;
}

h1.jumbotron {
  background: #333;
  color: #f1f1f1;
  text-align: center;
}

.effect6 {
  position:relative;
  box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}
.effect6:before, .effect6:after {
  content:"";
  position:absolute;
  z-index:-1;
  box-shadow:0 0 20px rgba(0,0,0,0.8);
  top:50%;
  bottom:0;
  left:10px;
  right:10px;
  border-radius:100px / 10px;
}
.effect6:after {
  right:10px;
  left:auto;
  transform:skew(8deg) rotate(3deg);
}

#info {
  text-align: center
  margin-top: 1em;
}

#winner {
  text-align: center;
  margin-top: 1em;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

li {
  font-size: 4em;
  height: 200px;
  margin: 0;
  padding: 0;
  vertical-align: middle;
  line-height: 200px;
}

li:hover {
  background: #f4f4f4;
}

li:nth-child(2n) {
  border-left: 1px solid black;
}

li:nth-child(-n+3) {
  border-bottom: 1px solid black;
}

.row:last-child li:nth-last-child(-n+3) {
  border-bottom: none;
}

li:nth-child(3n) {
  border-left: 1px solid black;
}
